* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --back: #4b1d3f;
  --primary: #EAE0D5;
  --player1: #d33f49;
  --player2: #01baef;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--back);
}

.container {
  border-radius: 16px;
  background-color:var(--primary);
  padding: 3em;
  box-shadow: 6px 9px 15px -4px rgba(0, 0, 0, 0.75);
}

.title-container {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 20px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 30px;
}

.playing-to {
  margin: 0 20px;
  font-size: 1.2em;
}

.score h1 {
  margin: 0 20px;
}

.score-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

input {
  border: none;
  padding: 10px 20px;
  width: 30%;
  text-align: left;
}

.btn-p1,
.btn-p2,
.btn-reset {
  border-radius: 4px;
  border: none;
  padding: 10px;
  width: 15%;
}

.btn-p1 {
  background-color: var(--player1);
}

.btn-p2 {
  background-color: var(--player2);
}

.btn-reset {
  background-color: transparent;
}

.winner {
  color: green;
}

.selected {
  color: yellow;
}
